In [ ]:
import pandas as pd


df = pd.read_csv("../bdd/raw/houses_Madrid.csv")
df.head()

0   NaN
1   NaN
2   NaN
3   NaN
4   NaN
Name: latitude, dtype: float64

In [26]:
df.isnull().sum()

id                                  0
id2                                 0
title                               0
subtitle                            0
sq_mt_built                       126
sq_mt_useful                    13514
n_rooms                             0
n_bathrooms                        16
n_floors                        20305
sq_mt_allotment                 20310
latitude                        21742
longitude                       21742
raw_address                      5465
is_exact_address_hidden             0
street_name                      5905
street_number                   15442
portal                          21742
floor                            2607
is_floor_under                   1170
door                            21742
neighborhood_id                     0
operation                           0
rent_price                          0
rent_price_by_area              21742
is_rent_price_known                 0
buy_price                           0
buy_price_by_area                   0
is_buy_price_known                  0
house_type_id                     391
is_renewal_needed                   0
is_new_development                992
built_year                      11742
has_central_heating              8134
has_individual_heating           8134
are_pets_allowed                21742
has_ac                          10531
has_fitted_wardrobes             8343
has_lift                         2386
is_exterior                      3043
has_garden                      20186
has_pool                        16571
has_terrace                     12194
has_balcony                     18421
has_storage_room                14044
is_furnished                    21742
is_kitchen_equipped             21742
is_accessible                   17668
has_green_zones                 17685
energy_certificate                  0
has_parking                         0
has_private_parking             21742
has_public_parking              21742
is_parking_included_in_price    14023
parking_price                   14023
is_orientation_north            10384
is_orientation_west             10384
is_orientation_south            10384
is_orientation_east             10384
dtype: int64

In [4]:

print(df.shape)

df['latitude'].head()

(21742, 58)

0   NaN
1   NaN
2   NaN
3   NaN
4   NaN
Name: latitude, dtype: float64

In [28]:
# Supression des colonnes vides 

df = df.drop(["id2","latitude", "longitude", "portal", "door", "rent_price_by_area", "n_floors", "sq_mt_allotment", "sq_mt_useful", "street_number", "built_year" ,"is_orientation_north" ,"is_orientation_west","is_orientation_south","is_orientation_east","has_public_parking","has_private_parking" ,"are_pets_allowed" ,'is_parking_included_in_price' ,"has_ac" ,"has_green_zones" ,"is_accessible" ,"is_kitchen_equipped","is_furnished","has_storage_room","has_balcony","has_terrace","has_pool","has_garden","raw_address","street_name","has_central_heating","has_individual_heating","has_fitted_wardrobes", "parking_price"], axis=1)

In [29]:


df.isnull().sum()

id                            0
title                         0
subtitle                      0
sq_mt_built                 126
n_rooms                       0
n_bathrooms                  16
is_exact_address_hidden       0
floor                      2607
is_floor_under             1170
neighborhood_id               0
operation                     0
rent_price                    0
is_rent_price_known           0
buy_price                     0
buy_price_by_area             0
is_buy_price_known            0
house_type_id               391
is_renewal_needed             0
is_new_development          992
has_lift                   2386
is_exterior                3043
energy_certificate            0
has_parking                   0
dtype: int64

In [30]:
from sklearn.impute import SimpleImputer

cols_bool = ['is_floor_under', 'is_new_development', 'has_lift', 'is_exterior', 'house_type_id']  # Colonne de bool√©ens

imputer_bool = SimpleImputer(strategy='most_frequent')
df[cols_bool] = imputer_bool.fit_transform(df[cols_bool])

In [31]:
# cols_num = ["sq_mt_built", "n_bathrooms"]

# imputer = SimpleImputer(strategy='mean')

# df[cols_num] = imputer.fit_transform(df[cols_num])

In [32]:

df.isnull().sum()

id                            0
title                         0
subtitle                      0
sq_mt_built                 126
n_rooms                       0
n_bathrooms                  16
is_exact_address_hidden       0
floor                      2607
is_floor_under                0
neighborhood_id               0
operation                     0
rent_price                    0
is_rent_price_known           0
buy_price                     0
buy_price_by_area             0
is_buy_price_known            0
house_type_id                 0
is_renewal_needed             0
is_new_development            0
has_lift                      0
is_exterior                   0
energy_certificate            0
has_parking                   0
dtype: int64

In [ ]:
df.to_csv("../bdd/processed/madrid_nettoye.csv", index=False)