In [295]:
import pandas as pd

# Import de pandas et chargement du df avec affichage des 5 premières lignes

df = pd.read_csv("bdd/houses_Madrid.csv")
df.head()

,Unnamed: 0,id,title,subtitle,sq_mt_built,sq_mt_useful,n_rooms,n_bathrooms,n_floors,sq_mt_allotment,...,energy_certificate,has_parking,has_private_parking,has_public_parking,is_parking_included_in_price,parking_price,is_orientation_north,is_orientation_west,is_orientation_south,is_orientation_east
0,0,21742,"Piso en venta en calle de Godella, 64","San Cristóbal, Madrid",64.0,60.0,2,1.0,NaN,NaN,...,D,False,NaN,NaN,NaN,NaN,False,True,False,False
1,1,21741,Piso en venta en calle de la del Manojo de Rosas,"Los Ángeles, Madrid",70.0,NaN,3,1.0,NaN,NaN,...,en trámite,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,21740,"Piso en venta en calle del Talco, 68","San Andrés, Madrid",94.0,54.0,2,2.0,NaN,NaN,...,no indicado,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,21739,Piso en venta en calle Pedro Jiménez,"San Andrés, Madrid",64.0,NaN,2,1.0,NaN,NaN,...,en trámite,False,NaN,NaN,NaN,NaN,False,False,True,False
4,4,21738,Piso en venta en carretera de Villaverde a Val...,"Los Rosales, Madrid",108.0,90.0,2,2.0,NaN,NaN,...,en trámite,True,NaN,NaN,True,0.0,True,True,True,True

In [296]:
# Affichage des valeurs manquantes
df.isnull().sum()

Unnamed: 0                          0
id                                  0
title                               0
subtitle                            0
sq_mt_built                       126
sq_mt_useful                    13514
n_rooms                             0
n_bathrooms                        16
n_floors                        20305
sq_mt_allotment                 20310
latitude                        21742
longitude                       21742
raw_address                      5465
is_exact_address_hidden             0
street_name                      5905
street_number                   15442
portal                          21742
floor                            2607
is_floor_under                   1170
door                            21742
neighborhood_id                     0
operation                           0
rent_price                          0
rent_price_by_area              21742
is_rent_price_known                 0
buy_price                           0
buy_price_by_area                   0
is_buy_price_known                  0
house_type_id                     391
is_renewal_needed                   0
is_new_development                992
built_year                      11742
has_central_heating              8134
has_individual_heating           8134
are_pets_allowed                21742
has_ac                          10531
has_fitted_wardrobes             8343
has_lift                         2386
is_exterior                      3043
has_garden                      20186
has_pool                        16571
has_terrace                     12194
has_balcony                     18421
has_storage_room                14044
is_furnished                    21742
is_kitchen_equipped             21742
is_accessible                   17668
has_green_zones                 17685
energy_certificate                  0
has_parking                         0
has_private_parking             21742
has_public_parking              21742
is_parking_included_in_price    14023
parking_price                   14023
is_orientation_north            10384
is_orientation_west             10384
is_orientation_south            10384
is_orientation_east             10384
dtype: int64

In [297]:
# Montre la taille du dataset
print(df.shape)

(21742, 58)

In [298]:
# Supression des colonnes vides et quasiment vides

df = df.drop(["latitude", "longitude", "portal", "door", "rent_price_by_area", "n_floors", "sq_mt_allotment", "sq_mt_useful", "street_number", "built_year" ,"is_orientation_north" ,"is_orientation_west","is_orientation_south","is_orientation_east","has_public_parking","has_private_parking" ,"are_pets_allowed" ,'is_parking_included_in_price' ,"has_ac" ,"has_green_zones" ,"is_accessible" ,"is_kitchen_equipped","is_furnished","has_storage_room","has_balcony","has_terrace","has_pool","has_garden","raw_address","street_name","has_central_heating","has_individual_heating","has_fitted_wardrobes", "parking_price"], axis=1)

In [299]:


df.isnull().sum()

Unnamed: 0                    0
id                            0
title                         0
subtitle                      0
sq_mt_built                 126
n_rooms                       0
n_bathrooms                  16
is_exact_address_hidden       0
floor                      2607
is_floor_under             1170
neighborhood_id               0
operation                     0
rent_price                    0
is_rent_price_known           0
buy_price                     0
buy_price_by_area             0
is_buy_price_known            0
house_type_id               391
is_renewal_needed             0
is_new_development          992
has_lift                   2386
is_exterior                3043
energy_certificate            0
has_parking                   0
dtype: int64

In [300]:
from sklearn.impute import SimpleImputer

cols_bool = ['is_floor_under', 'is_new_development', 'has_lift', 'is_exterior', 'house_type_id']  # Colonne de booléens

imputer_bool = SimpleImputer(strategy='most_frequent')
df[cols_bool] = imputer_bool.fit_transform(df[cols_bool])

In [3]:
# cols_num = ["sq_mt_built", "n_bathrooms"]

# imputer = SimpleImputer(strategy='mean')

# df[cols_num] = imputer.fit_transform(df[cols_num])

In [302]:
# Affichage des valeurs manquantes
df.isnull().sum()

Unnamed: 0                    0
id                            0
title                         0
subtitle                      0
sq_mt_built                   0
n_rooms                       0
n_bathrooms                   0
is_exact_address_hidden       0
floor                      2607
is_floor_under                0
neighborhood_id               0
operation                     0
rent_price                    0
is_rent_price_known           0
buy_price                     0
buy_price_by_area             0
is_buy_price_known            0
house_type_id                 0
is_renewal_needed             0
is_new_development            0
has_lift                      0
is_exterior                   0
energy_certificate            0
has_parking                   0
dtype: int64

In [303]:
df.to_csv("madrid_nettoye.csv", index=False)